input {
    width: 20px;
    
}

.icon {
    margin: 5px;
}

.currentCity{
    min-height: 150px;
    min-width: 150px;
}

.WeatherIcon{
    width: 150px;
    height:auto;
}

.test {
   background-color: tomato;
   

}

.card {
   
    min-height: 80px;
    min-width: 400px;
}
.searchBar {
    align-items: center;
    align-content: center;
    background-color: grey;
    
}