

.nav {
  
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-content: center; 
}
h2 {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #4d263c, #51314c, #543d5b, #55496a, #555577, #525f7f, #516986, #51728b, #547b8d, #5b838d, #668a8e, #72918f);
}

