

.nav {
  background:linear-gradient(to bottom right, #2b5876, #4e4376);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-content: center; 
}
h2 {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background:linear-gradient(to bottom right, #E8CBC0, #636FA4,#fdbb2d);
}

.test {
  background-color: red;
  
}


.btn {

}